/*
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);*/
/*========================================================
                      Main Styles
=========================================================*/


/* Our Partners Area */
.our_partners_area {
  background: #f5f5f5;
}
.our_partners_area .title {
  text-align: center;
  padding: 30px 0;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #888888;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
.our_partners_area .partners {
  padding-top: 60px;
  padding-bottom: 90px;
}
.our_partners_area .partners .item img {
  width: 100%;
}
.our_partners_area .book_now_aera {
  background: #f6b60b;
  padding: 10px 0;
}
.our_partners_area .book_now_aera .book_now .booking_text {
  padding-top: 8px;
}
.our_partners_area .book_now_aera .book_now .booking_text h4 {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
}
.our_partners_area .book_now_aera .book_now .booking_text p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 5px;
}
.our_partners_area .book_now_aera .book_now .book_bottun a {
  width: 200px;
  background: #333333;
  border-radius: 10px;
  color: #fff;
}

/* End Our Partners Area */

/** {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}*/


body {
  /*background: #10223a;*/
  /*color: #808289;*/
  /*font: 400 16px/29px "Ubuntu", sans-serif;*/
  /*-webkit-text-size-adjust: none;*/
}

h1 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 15.12px;
}



/*=======================================================
                       Components
=========================================================*/
/*==================     Brand     ======================*/
img + .brand_name {
  margin-top: 30px;
}
.brand_name {
  color: #FFFFFF;
  word-spacing: -12px;
  overflow: hidden;
}
.brand_slogan {
  font-size: 12px;
  text-transform: uppercase;
  color: #111111 !important;
  font-weight: bold;
  letter-spacing: 7.2px;
}
.brand_name + .brand_slogan {
  margin-top: 5px;
}

/*==================      Vide     ======================*/
.vide {
  padding-top: 117px;
  padding-bottom: 170px;
  background: #333333;
}
.vide_content {
  position: relative;
}
.vide h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
}
.vide h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 6.6px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .vide h2 {
    font-size: 55px;
    line-height: 50px;
  }
}
@media (max-width: 479px) {
  .vide {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .vide h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .vide h3 {
    font-size: 14px;
    line-height: 24px;
  }
}

/*========================================================
                     HEADER  Section
==========================================================*/
header {
  background: #333333;
  text-align: center;
}
/*header *:not(.btn) {
  color: #FFF;
}*/

.header_panel:before, .header_panel:after {
  display: table;
  content: "";
  line-height: 0;
}
.header_panel:after {
  clear: both;
}